doctype html
html lang="en"
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
    meta charset="utf-8"
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1" name="viewport"
    meta content="" name="description"
    meta content="" name="author"
    title Hello Discuss!
    link href="#{static_path(@conn, "/css/app.css")}" rel="stylesheet"
    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
    link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"

    = if @conn.assigns.current_user do
      script
        | window.userToken = "
        = Phoenix.Token.sign(Discuss.Endpoint, "key", @conn.assigns.current_user.id)
        | "

  body
    nav.light-blue
      .nav-wrapper.container
        a.brand-logo href="/"
          | Discussions
        ul.right
          = if @conn.assigns[:current_user] do
            = link "Logout", to: auth_path(@conn, :signout)
          - else
            = link to: auth_path(@conn, :request, "github"), class: "waves-effect waves-light btn social github" do
              i.fa.fa-github
              | Sign in via Github

    .container
      p.alert.alert-info role="alert" = get_flash(@conn, :info)
      p.alert.alert-danger role="alert" = get_flash(@conn, :error)
      main role="main"
        = render @view_module, @view_template, assigns
    script src="#{static_path(@conn, "/js/app.js")}"

