h5 Topics

ul.collection
  = for topic <- @topics do
    li.collection-item
      = link topic.title, to: topic_path(@conn, :show, topic)
      div.right
        = if @conn.assigns[:current_user] && @conn.assigns.current_user.id == topic.user_id do
          = link "Edit", to: topic_path(@conn, :edit, topic)
          '
          = link "Delete", to: topic_path(@conn, :delete, topic), method: :delete

div.fixed-action-btn
  - button_color = @conn.assigns[:current_user] && "red" || "grey"
  = link to: topic_path(@conn, :new), class: "btn-floating btn-large waves-effect waves-light #{button_color}" do
    i.material-icons
      | add
