h5
  = @topic.title

div.input-field
  textarea.materialize-textarea
  button.btn
    Add commnent
  ul.collection

div.fixed-action-btn
  = link to: topic_path(@conn, :edit, @topic), class: "btn-floating btn-large waves-effect waves-light red" do
    i.material-icons
      | edit

script
  |  document.addEventListener("DOMContentLoaded", function() {
  =    "window.createSocket(#{@topic.id});"
  |  });
